
//******************************ШРИФТЫ**************************//
//**************************************************************//

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700,900&display=swap');



//*************************ПЕРЕМЕННЫЕ ШРИФТОВ**************************//
//*********************************************************************//

$roboto: 'Roboto', sans-serif;

//*************************ПЕРЕМЕННЫЕ ЦВЕТОВ**************************//
//*********************************************************************//

$main: #fff;
$black: #000;
$content: #19b5fe;




//*************************ПЕРЕМЕННЫЕ GRID**************************//
//*********************************************************************//

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);


$container-max-widths: (
	sm: 640px, 
	md: 800px,
	lg: 900px,
	xl: 995px
);

$grid-gutter-width: 40px;
