*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
}

.row{
    flex-wrap: nowrap;
}

button, a, input, select{
    outline: none;
    &:active{
        outline: none
    }
}